* {
  box-sizing: border-box;
}
html {
  font-size: $font-main;
  font-size: $font-size;
  line-height: 1.5em;
}
body {
  width: 100%;
  max-width: $xl;
  margin: 0 auto;

  background-color: $color-warning;
  background-image: url("../img/global-bg.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

a {
  text-decoration: none;

  color: $color-gray;

  font-family: $font-main;
}
